<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Client profile</title>
	<link rel="stylesheet" href="styles/clientprofile.css">
    <script src='scripts/changepass.js'>	</script>
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</head>
<body>

    <%- include("../partials/topbar")%>
<main>
    <div class="wrapper">
        <div class="left">
            
            <div class="nav" >
                <a  href="/clientprofile"> About</a><br>
                <a  href="/clientpass"> Password</a><br>
                <a  href="/clienthistory"> History</a>
            </div>
        
        </div>
        <div class="right">
            <div class="info">
                
                <h3 id="i">Profile page</h3>
                <hr id="hr">

                <div class="info_data">


                <!-- <div class="button" > <button> Edit</button> </div> -->
                    <div class="data">
                        <h4 class="title">First name :</h4>
                        <p class="details" id="c_fname"><%=firstName %></p>
                    </div>


                    <!-- <div class="button" > <button> Edit</button> </div> -->
                    <div class="data">
                        <h4 class="title">Last name :</h4>
                        <p class="details" id="c_lname"><%=lastName%></p>
                    </div>


                    <!-- <div class="button" > <button> Edit</button> </div> -->
                    <div class="data">
                        <h4 class="title">Email :</h4>
                        <p class="details" id="c_mail"><%=email%></p>
                    </div>


                    <!-- <div class="button" > <button> Edit</button> </div> -->
                    <div class="data">
                    <h4 class="title">Phone :</h4>
                    <p class="details" id="c_mobile"><%=phoneNumber%></p>
                </div>
                
                </div>
            </div>
        
        
        
            
        </div>
    </div>
</main>
<%- include("../partials/footer")%>
</body>
</html>